<div class="jumbotron">
  <h1>Coming soon</h1>
  <h3>Under active development</h3>
  <br>
  <p>
	This will become an open sourced Bitcoin Exchange that will return the majority of all fees collected back to its active users.
	In addition we will open source the complete project on <%=link_to 'Github','https://github.com/Bitqualize'%>. Apart from providing the full source code
	we'll be having open discussion on Bitcointalk on various sub-forums on the implementation architecture of the many aspects of an Exchange. Feel free to
	actively participate and contribute.
  </p>
  The initial scope of features
  <ul>
	<li>Buy and sell Bitcoins. The Exchange will be dealing only with Cryptocurrencies.</li>
	<li>API for information inquiry as well as trading</li>
	<li>Two factor authentication</li>
	<li>Basic graphing functionality</li>
	<li>Chat box</li>
	<li>Multi language capable</li>
	<li>Live update, pushing data to the user's browsers</li>
	<li>Regularly return a portion of the collected fees to the users</li>
  </ul>
</div>