<h2>Developer's Trace</h2>

<ul>
  <li>9th November 2013:
	<ul>
	  <li>Domain registration, SSL certification, VPS setup, Bitcointalk/Twitter/Facebook accounts created</li>
	  <li>Empty application web site posted online</li>
	  <li>Coding the user login and registration pages and coding logic</li>
	</ul>
  </li>
</ul>